@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #e7e8e9;
    width: 100%;
    height: 100%;
    display: block;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#wrap {
    width: 360px;
    height: auto;
    min-height: 100%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

.btn {
    background-color: #fff;
    border: 1px solid #DCE2EB;    
    border-radius: 12px;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: none;
}

header > p {
    text-align: center;
    font-size: 13px;
    line-height: 70px;
}

#menu-btn,
#close-btn,
#back-btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 21px;
}
#back-btn {
    left: 10px;
}
#close-btn > img {
    width: 14px;
}
#back-btn > img {
    height: 21px;
}

/* login */
#login {
    width: 100%;
    height: 100%;
    padding: 50px 0;
}
#login > h1 {
    margin: 12px 40px;
    line-height: 1.6;
}

.login-boxes {
    width: 100%;
    height: 340px;
    margin: 50px 0;
    position: relative;
}
.login-boxes > div {
    width: 260px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.login-box-right {
    right: 0;
    top: 0;
}
.login-box-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.login-box-center {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.main-profile-img {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    background-color: #eee;
}
.main-profile-img > img {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-box-right > .main-profile-img > img {
    top: 43%;
    width: 80%;
}

.yellow {
    background: #FFFCEE;
}
.blue {
    background: #E3FDFF;
}
.pink {
    background: #FFF3F2;
}
.sub {
    text-align: right;
}
.sub > p {
    font-size: 14px;
    font-weight: 500;
}
.sub > h2 {
    font-size: 20px;
    font-weight: 600;
}
#login > p {
    font-size: 12px;
    color: #9f9f9f;
    text-align: center;
    margin-top: 60px;
}
#login-btn {
    overflow: hidden;
    width: 282px;    
    height: 56px;
    border-radius: 45px;
    position: relative;
    background-color: #FEE500;
    margin: 30px auto;
    left: 50%;
    transform: translateX(-50%);
}
#login-btn > img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* menu */
#menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#menu-back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.3);
}
.menu-main {
    background-color: #fff;
    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.menu-main > h2 {
    display: inline-block;
    padding-bottom: 4px;
    margin: 70px 30px;
    color: #318AF3;
    border-bottom: 2px solid #318AF3;
    font-size: 26px;
    font-weight: 500;
}
.menu-status {
    margin: 70px 30px;
    position: relative;
}
.menu-status > h2 {
    font-size: 26px;
    font-weight: 500;
    color: #333;
}
.menu-status > h2 > span {
    color: #318AF3;
}
.menu-status > button {
    background-color: #eceff4;
    color: 626262;
    padding: 6px 12px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 12px;
}
.menu-btns {
    width: 240px;
    height: auto;
    margin: 0 auto;
}
.menu-btns > button {
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-btns > button > img {
    margin-left: 4px;
}
#menu-nav {
    width: 245px;
    height: auto;
    margin: 30px auto;
}
#menu-nav > li {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e8e9;
    color: #333;
    font-size: 15px;
}
#menu-nav > li:last-child {
    border: none;
}
#menu-nav > li > img {
    width: 16px;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: #F7F8FB;
    padding: 30px;
}
#footer-nav {
    margin: 12px 0;
    font-size: 12px;
    color: #626262;
}
#footer-nav > li {
    margin-bottom: 7px;
}
#footer-nav > li > span {
    color: #9f9f9f;
    margin-right: 12px;
}
.footer-btns {
    margin: 16px 0;
}
.footer-btns > button {
    padding: 4px 12px;
    color: #808080;
    margin-right: 4px;
    border-radius: 4px;
}
footer > p {
    color: #c9c9c9;
    font-size: 11px;
    margin: 30px 0;
}

/* partners-main */
.partners-view {
    background-color: #FCFDFF;
    padding: 50px 30px;
}

.partners-view > h1 {
    margin: 30px 20px;
}

.profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.profile-img {
    width:  64px;
    height: 64px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-right: 21px;
}
.profile-img > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.profile-sub {
    width: 65%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.profile-sub > h3 {
    font-size: 18px;
    word-break: break-all;
}
.profile-point {
    margin: 12px 0;
}
.profile-point,
.profile-scope {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-point > img {
    width: 22px; 
    height: 22px;
    margin-right: 7px;
}
.profile-point > p {
    color: #656565;
    font-size: 10px;
}
.profile-point > p > span {
    color: #318AF3;
    font-size: 16px;
    margin-right: 4px;
    font-weight: 500;
}
.profile-scope-stars,
.amount-scope-stars,
.quality-scope-stars,
.kind-scope-stars {
    width: 100px;
    height: 16px;
    position: relative;
}
.profile-scope-stars > img,
.amount-scope-stars > img,
.quality-scope-stars > img,
.kind-scope-stars > img{
    height: 100%;
    width: 17px;
    cursor: pointer;
    position: absolute;
    top: 0;
}
#first_star {left: 0;}
#second_star {left:20px;}
#third_star{left:40px;}
#fourth_star{left:60px;}
#fifth_star{left:80px;}
.profile-scope > p {
    color: #626262;
    font-size: 10px;
    margin-left: 7px;
}

.partners-btns {
    width: 100%;
    height: auto;
    background-color: #318AF3;
    padding: 50px 30px;
}
.partners-btns > button {
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 12px;
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.partners-btns > button > img {
    width: 12px;
    margin-right: 7px;
}
.partners-btns > button > p {
    font-weight: 500;
    position: relative;
}
.num-apper,
.new-apper {
    position: absolute;
    right: -7px;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.new-apper > span,
.num-apper > span {
    color: #fff;
    font-size: 6px;
    font-weight: 300;
}
.num-apper {
    background-color: #318AF3;
}
.new-apper {
    background-color: #FF5749;
}

/* request */
#request {
    width: 100%;
    height: 100%;
    padding: 70px 30px;
    background-color: #FCFDFF;
    padding-bottom: 150px;
    position: relative;
}
.request-agree {
    padding: 30px 0;
}
.request-agree > h2 {
    margin: 0 12px;
    margin-bottom: 7px;
}
.request-agree > .request-sub {
    color: #626262;
    font-size: 11px;
    margin: 0 12px;
    margin-bottom: 30px;
}
#all-agree-btn {
    width: 100%;
    height: 55px;
    background-color: #fff;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    padding: 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 27px;
}
#all-agree-btn.disagree {
    border-color:  #dce2eb;;
}
#all-agree-btn.agree {
    border-color: #318AF3;
}
.all-agree-circle {
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin-right: 12px;
    background-position: center center;
    background-size: 55%;
    background-repeat: no-repeat;
}
.disagree > .all-agree-circle {
    border-color: #dce2eb;
    background-image: url("../img/check-no.png");
}
.agree > .all-agree-circle {
    border-color: #318AF3;
    background-image: url("../img/check-yes-blue.png");
}
.agree-labels {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 10px;
}
.agree-labels > label {
    display: inline-block;
    width: 21px;
    height: 7px;
    margin-right: 7px;
    background-position: center center;
    background-size: 12px;
    background-repeat: no-repeat;
}
label {
    cursor: pointer;
}
.agree-labels > label.disagree {
    background-image: url("../img/check-no.png");
}
.agree-labels > label.agree {
    background-image: url("../img/check-yes-blue.png");
}
.agree-labels > span{
    color: #777;
}
.agree-labels > a {
    float: right;
}
.agree-labels > a > img {
    width: 14px;
}

#go-next-agree {
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 14px;
    color: #fff;
}
#go-next-agree.disagree {
    background-color: #c9c9c9;
}
#go-next-agree.agree {
    background-color: #318AF3;
}

.agree-checkbox {
    display: none;
}

/* request-detail */
#request-detail {
    padding: 70px 20px;
}
#request-detail > h3 {
    font-size: 16px;
    margin-bottom: 30px;
}
.detail-main-list {
    list-style: square;
    padding-left: 20px;
    font-size: 12px;
}
.detail-main-list > li {
    margin-bottom: 21px;
}
.detail-main-list > li > ul {
    margin-top: 7px;
}
.detail-main-list > li > ul > li {
    color: #626262;
    font-size: 11px;
}

.detail-sub-list {
    list-style: disc;
    padding-left: 20px;
    margin-top: 30px;
}
.detail-sub-list > li {    
    color: #999;
    font-size: 10px;
    margin: 12px 0;
}

.detail-warning {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 25px 20px;
    background-color: #F7F8FB;
}
.detail-warning > p {
    color: #626262;
    font-size: 12px;
    margin-bottom: 21px;
}
.detail-warning th {
    text-align: left;
    font-size: 11px;
    padding-right: 12px;
}
.detail-warning td {
    font-size: 11px;
    color: #626262;
}
#request #canvas {
    position: absolute;
    top: 70px;
    left: 0;
}

.request-btns {
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.request-btns > label {
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1.3px solid #dce2eb;
}
.request-btns > label.uncheck {
    border-color: #dce2eb;
}
.request-btns > label.uncheck > p {
    color: #333;
}
.request-btns > label.check {
    border-color: #318AF3;
}
.request-btns > label.check > p {
    color: #318AF3;
}
.request-btns > label > img {
    width: 14px;
    margin-right: 7px;
}
.request-btns > label > p {
    font-weight: 500;
}
.request-radio {
    display: none;
}


.request-input-btn {
    width: 100%;
    min-height: 60px;
    height: auto;
    border: 1.3px solid #dce2eb;
    border-radius: 7px;
    margin-bottom: 12px;
    padding: 15px;
}
.request-input-btn > h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: default;
}
.request-input-btn > .reqeust-hidden {
    width: 100%;
    height: auto;
}
.request-hidden {
    display: none;
}
.request-hidden > h3 {
    color: #9f9f9f;
    font-size: 11px;
    font-weight: 400;
}
.request-input-form {
    width: 100%;
    height: 35px;
    border-bottom: 1.3px solid #9f9f9f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}
.request-input-form > input {
    height: 100%;
    width: 79%;
    outline: none;
    background: none;
    border: none;
}
.request-input-form > button {
    height: 28px;
    border-radius: 7px;
    width: 20%;
    font-size: 10px;
    font-weight: 400;
    background-color: #f7f8fb;
    color: #626262;
}
.request-hidden > p {
    font-size: 8px;
    color: #626262;
    margin-bottom: 12px;
}
input[type=radio] {
    display: none;
}

.request-button-form {
    width: 100%;
    height: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.request-button-form > label {
    width: 47%;
    border: 1.3px solid #dce2eb;
    border-radius: 7px;
    padding: 7px;
    margin: 4px;
    text-align: center;
}
.request-button-form > label.uncheck {
    border-color: #dce2eb;
}
.request-button-form > label.check {
    border-color: #318AF3;
}
.request-button-form > label > img {
    width: 24px;
}
.request-button-form > label > p {
    font-size: 12px;
}
.request-button-form > label.uncheck >p {
    color: #626262;
    font-weight: 400;
}
.request-button-form > label.check > p {
    color: #318AF3;
    font-weight: bold;
}

.loading-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 21px;
}
.loading-form > img {
    width: 21px;
    margin-bottom: 7px;
}
.loading-form > p {
    color: #9f9f9f;
    text-align: center;
    font-size: 10px;
}
.result-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}
.result-form > .result-img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border: 1.5px solid #dce2eb;
    border-radius: 12px;
    position: relative;
}
.result-img > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.result-form > .result-sub {
    padding-top: 7px;
    margin-left: 14px;
    font-size: 10px;
    line-height: 1.7;
}
.result-sub > p {
    color: #9f9f9f;
}
.result-sub > p > span {
    color: #333;
    font-weight: 500;
    margin-left: 8px;
}

.request-hidden > .warning-txt {
    color: #FF5749;
    margin-top: -15px;
    margin-bottom: 21px;
    display: none;
}

.request-various-btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 36px;
}
.request-various-btns > label {
    width: 49%;
    height: 50px;
    border: 1px solid #dce2eb;
    border-radius: 7px;
    margin-bottom: 7px;
    font-size: 11.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.request-various-btns > label#hidden-form  {
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 14px;
    justify-content: flex-start;
}
.request-various-btns > label#hidden-form > .request-various-hidden {
    width: 100%;
    height: auto;
    margin-top: 14px;
}
.request-various-hidden > p {
    color: #9f9f9f;
    margin-bottom: 21px;
    font-weight: 300;
}
.request-various-hidden > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dce2eb;
}
.request-various-btns > label:last-child {
    width: 100%;
}
.request-various-btns > label.uncheck {
    border-color: #dce2eb;
    color: #333;
}
.request-various-btns > label.check {
    color: #318AF3;
    border-color: #318AF3;
    font-weight: bold;
}
.request-btns.phone-list > label {
    height: auto;
    justify-content: flex-start;
    padding: 12px;
}
.request-btns.phone-list > label > .phone-img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 1px solid #DCE2EB;
    border-radius: 7px;
    position: relative;
    margin-right: 21px;
}
.phone-img > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.request-colors {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
}
.request-colors > label {
    margin-right: 20px;
    text-align: center;
}
.request-colors > label > p {
    font-size: 13px;
}
.color-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.request-colors > label.check > .color-profile {
    border-color: #318AF3;
}
.color-profile > .color {
    width: 90%;
    height: 90%;
    border: 1px solid #dce2eb;
    border-radius: 50%;
}
.color.white {
    background-color: #fff;
}
.color.black {
    background-color: #000;
}
.color.red {
    background-color: #CA1010;
}
.request-agree > p {
    font-size: 13px;
    color: #626262;
    margin-bottom: 32px;
}
.request-agree > .user-color {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #dce2eb;
    outline: none;
}

.request-notes-form {
    margin-top: 52px;
    width: 100%;
    height: auto;
}
.request-notes-form > div {
    width: 100%;
    margin-bottom: 42px;
}
.request-notes-form > div > p {
    font-size: 12px;
    color: #626262;
    margin-bottom: 16px;
}
.request-notes-form > div > input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #DCE2EB;
    outline: none;
}
.request-notes-form > div > .request-note-btns {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.request-note-btns > label {
    flex: 1;
    border: 1px solid #DCE2EB;
    border-radius: 7px;
    margin: 2px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.request-note-btns > label.check {
    border-color: #318AF3;
    color: #318AF3;
}
.request-note-imgs {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.request-note-imgs > * {
    width: 105px;
    height: 105px;
}
.empty-img {
    background-color: #eceff4;
    border-radius: 7px;
    margin-right: 7px;
}
.request-note-imgs > label > img {
    width: 100%;
    height: 100%;
}
input#img {
    display: none;
}

/* request-success */
#request-success {
    width: 100%;
    height: auto;
    padding: 70px 0;
    position: relative;
}
.request-success-title {
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    border-bottom: 7px solid #f5f5f5;
    text-align: center;
}
.request-success-title > img {
    width: 65px;
    margin-bottom: 14px;
}
.request-success-title > h2 {
    color: #318AF3;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
}
.request-success-title > p {
    font-size: 12px;
    color: #9f9f9f;
}

.request-success-detail {
    padding: 30px 20px;
}
.request-success-detail > div > h2 {
    font-size: 15px;
    margin-bottom: 17px;
}
.request-success-detail > div > div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
    font-size: 12px;
}
.request-success-detail > div > div > span {
    color: #9f9f9f;
}
.request-success-detail > .detail-txt > div {
    display: block;
    margin-bottom: 21px;
}
.detail-txt > div > p {
    margin-top: 6px;
}
.dot-line {
    width: 100%;
    height: 0;
    border: 1px dashed #dce2eb;
    margin: 36px auto;
}

/* estimate */
#estimate {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fcfdff;
}
.my-estimate-title {
    background-color: #318AF3;
    padding: 30px;
    position: relative;
}
.my-estimate-title > .close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
    font-size: 21px;
}
.close-btn > i {
    color: #fff;
}
.my-estimate-title > h2{
    color: #fff;
    margin: 50px 0;
}
.my-estimate-title > p {
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.my-estimate-title > p > img {
    width: 14px;
    margin-right: 7px;
}
.my-estimate-title > p > span {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 0 6px;
}
.estimate-list-form {
    width: 100%;
    height: auto;
    padding: 20px;
}
.estimate-list-form > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
}
.estimate-list-form > ul > li {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.estimate-list-form > ul > li > p {
    color: #9f9f9f;
    font-size: 21px;
}
.estimate-list-form > ul > li.check > p  {
    color: #333;
    font-weight: 600;
    margin-bottom: 3px;
}
.estimate-list-now {
    width: 6px;
    height: 6px;
    background: #318AF3;
    border-radius: 50%;
    display: none;
}
li.check > .estimate-list-now {
    display: block;
}
.estimate-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.estimate-list > div {
    margin: 16px 0;
}
.estimate-list > div > p {
    color: #626262;
    font-size: 12px;
    margin-bottom: 12px;
}
.estimate-list-btn {
    width: 100%;
    height: auto;
    padding: 32px 14px;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.estimate-list-btn > span {
    position: absolute;
    left: 14px;
    top: 10px;
    font-size: 12px;
    color: #dce2eb;
}
.estimate-list-btn > .new {
    width: 25px;
    height: 25px;
    background-color: #FF5749;
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    font-size: 12px;
}
.estimate-list-status {
    position: absolute;
    right: 14px;
    bottom: 14px;
    font-size: 14px;
    font-weight: 500;
    color: #626262;
}
.estimate-list-status.proc {
    color: #318AF3;
}
.estimate-list-status.review {
    color: #318AF3;
    background-color: #EDF6FF;
    padding: 5px 9px;
    border-radius: 7px;
    font-size: 12px;
}
.estimate-list-btn > .estimate-list-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-right: 12px;
    border: 1.3px solid #dce2eb
}
.estimate-list-img > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.estimate-list-detail {
    width: 180px;
}
.estimate-list-detail > span,p {
    color: #626262;
    font-size: 10px;
}
.estimate-list-detail > h2 {
    font-size: 13px;
    margin: 4px 0;
}
.estimate-list-detail > h2 >  span {
    font-weight: 100;
    color: #dce2eb;
    margin: 0 4px;
}

.estimate-my-request {
    padding: 70px 30px 120px 30px;
}
.estimate-my-request > h2 {
    margin-bottom: 8px;
}
.estimate-my-request > span {
    color: #9f9f9f;
    font-size: 13px;
}
.estimate-my-request > .estimate-cancle {
    padding: 4px 7px;
    background-color: #EDF6FF;
    color: #318AF3;
    border-radius: 7px;
    margin-left: 7px;
}
.estimate-my-request > div {
    margin: 32px 0;
    padding: 14px 0;
}
.estimate-my-request > div > h2 {
    font-size: 18px;
    border-bottom: 1px solid #dce2eb;
    padding-bottom: 7px;
}
.estimate-my-request > div > div {
    margin: 17px 0;
}
.estimate-my-request > div > div > span {
    font-size: 12px;
    color: #626262;
}
.estimate-my-request > div > div > p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
}
#estimate #go-next-estimate{
    height: 120px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    padding-top: 12px;
    font-size: 14px;
    background-color: #318AF3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#estimate #go-next-estimate > img {
    margin-bottom: 7px;
}
#estimate #go-next-estimate > p {
    color: #fff;
    font-size: 14px;
}
#estimate #go-next-estimate > p > span  {
    color: #fff;
    font-size: 18px;
} 

.estimate-recived {
    background-color: #318AF3;
    padding: 70px 20px 210px 20px;
}
.estimate-recived #menu-btn >i {
    color: #fff;
}
.estimate-recived > h2 {
    color: #fff;
    margin: 21px 14px;
}
.estimate-recived-list {
    width: 100%;
    height: auto;
}

.estimate-recived-list > div {
    width: 100%;
    height: auto;
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 21px 0;
}
.recived-list-detail {
    border-bottom: 1px solid #dce2eb;
    margin-bottom: 7px;
}
.recived-list-detail > div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}
.recived-list-detail > p {
    font-size: 12px;
    margin-bottom: 12px;
    color: #727272;
    word-break: break-all;
}
.recived-list-profile {
    width: 54px;
    height: 54px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    margin-right: 12px;
}
.recived-list-profile > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recived-list-profile-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recived-list-profile-detail > h2 {
    font-size: 14px;
    margin-bottom: 4px;
}
.recived-list-profile-detail > p {
    color: #9f9f9f;
    font-size: 10px;
}
.recived-list-amount {
    position: relative;
    width: 100%;
    height: auto;
    height: 25px;
}
.recived-list-amount > .recived-reservation {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    font-weight: bold;
}
.recived-list-amount > p {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #9f9f9f;
    display: flex;
    align-items: center;
}
.recived-list-amount > p > span {
    color: #318AF3;
    font-weight: bold;
    font-size: 18px;
    margin-left: 7px;
}

.my-estimate-view {
    width: 100%;
    height: auto;
    padding: 90px 20px 0 20px;
}
.profile-scope > span {
    font-size: 12px;
    color: #318AF3;
    font-weight: 500;
    margin-left: 12px;
}
.profile-sub > button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #626262;   
    background-color: #eceff4;
    padding: 6px 12px;
    border-radius: 7px;
}
#estimate .profile-sub {
    width: 75%;
}

.profile-scope-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}
.profile-scope-fields > li {
    text-align: center;
    border-right: 1px solid #dce2eb;
    padding-right: 3px;
}
.profile-scope-fields > li:last-child {
    border-right:  none;
}
.profile-scope-fields > li > p {
    font-size: 12px;
    margin-bottom: 7px;
}

.my-estimate-msg {
    width: 100%;
    height: auto;
    background: #F7F8FB;
    padding: 20px 30px;
}
.my-estimate-msg > div {
    width: 100%;
    display: flex;
    margin: 12px 0;
}
.my-estimate-msg > div > span {
    color: #626262;
    font-size: 12px;
    margin-right: 12px;
}
.my-estimate-msg > div > p {
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
.estimate-my-request > div > div > .estimate-imgs {
    width: auto;
    min-width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.estimate-imgs > div {
    height: 100%;
    width: 100px;
    overflow: hidden;
    margin-right: 8px;
    position: relative;
    border-radius: 7px;
}
.estimate-imgs > div > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.map-view {
    width: 100%;
    height: auto;
    padding: 70px 0 100px 0;
}
.map-view > img {
    width: 100%;
}

#inquire {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* overflow-y: scroll; */
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.messenger-tab {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}
.messenger-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #318AF3;
    padding: 20px;
    width: 100%;
}
.messenger-title > h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin: 7px 0;
}
.messenger-title > p {
    color: #fff;
    font-size: 10px;
    font-weight: 100;
}
#exit-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
}
#exit-btn > img {
    width: 100%;
    height: 100%;
}
.messenger-input-tab {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border-top: 1px solid #dce2eb;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 21px;
}
.messenger-input-tab > input {
    width: 90%;
    float: left;
    color: #626262;
    border: none;
    outline: none;
}
.messenger-input-tab > button {
    width: 7%;
    float: right;
}
.messenger-input-tab > button > img {
    width: 100%;
}

.messengers {
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 110px;
    padding-bottom: 120px;
}
.messengers > div {
    margin-bottom: 32px;
}
.messengers > div > p {
    color: #9f9f9f;
    font-size: 10px;
    margin-bottom: 7px;
}
.m-partners > .bubble {
    width: 250px;
    height: auto;
    padding: 20px;
    background-color: #F7F8FB;
    border-radius: 16px;
}
.m-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.m-user > .bubble {
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #318AF3;
    color: #fff;
    border-radius: 21px;
    border-top-right-radius: 5px;
}
.m-user > .bubble > p {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}
.m-user > .bubble > p > span {
    color: #fff;
    font-weight: bold;
}
.bubble-profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.bubble-profile-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    border: 1px solid #dce2eb;
    position: relative;
}
.bubble-profile-img > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bubble-profile > h2 {
    font-weight: 500;
    font-size: 14px;
    padding-top: 4px;
}
.bubble > button {
    background-color: #fff;
    border: 1.3px solid #dce2eb;
    border-radius: 7px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}
.bubble > button > img {
    width:18px;
    margin-right: 7px;
    display: none;
}
.bubble > button.check  {
    border-color: #318AF3;
}
.bubble > button.check > img {
    display: block;
}
.bubble > button.check > p {
    color: #318AF3;
}
.bubble > button > p {
    font-size: 14px;
    font-weight: 500;
}
.bubble-btn-100 {
    width: 100%;
}
.bubble-btn-50 {
    width: 50%;
}
.bubble-txt > p {
    font-size: 13px;
}
.messenger-calender {
    width: 100%;
    height: auto;
    padding: 60px 20px;
}
.messenger-calender > h2 {
    font-size: 18px;
    margin-bottom: 32px;
}
.calender-month {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.calender-month > button {
    width: 16px;
    height: 16px;
}
.calender-month > button > img {
    width: auto;
    height: 100%;
}
.calender-month > h2 {
    font-size: 18px;
}
table {
    width: 100%;
}
th {
    color: #9f9f9f;
}
th,td {
    padding: 10px;
}
td {
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
td.check {
    background-color: #318AF3;
    color: #fff;
}

.messenger-time {
    width: 100%;
    height: auto;
    padding: 20px;
}
.messenger-time > h2 {
    font-size: 18px;
    margin-bottom: 7px;
}
.messenger-time > p {
    color: #9f9f9f;
    font-size: 10px;
    margin-bottom: 21px;
}
.messenger-time-btns {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messenger-time-btns > label {
    width: 45px;
    height: 45px;
    border: 1px solid #dce2eb;
    border-radius: 50%;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626262;
}
.messenger-time-btns > label.check {
    background-color: #318AF3;
    border-color: #318AF3;
    color: #fff;
}