@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); 
	font-weight: 100; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); 
	font-weight: 200; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: 300; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
	font-weight: 400; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); 
	font-weight: 500; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); 
	font-weight: 600; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); 
	font-weight: 700; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); 
	font-weight: 800; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); 
	font-weight: 900; 
	font-style: normal; 
}

.s-c {
    font-family: 'S-CoreDream' !important;
}
.dn {
    display: none ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #e7e8e9;
    width: 100%;
    height: 100%;
    display: block;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#wrap {
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

.btn {
    background-color: #fff;
    border: 1px solid #DCE2EB;    
    border-radius: 12px;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: none;
}

header > p {
    text-align: center;
    font-size: 15px;
    line-height: 70px;
    font-weight: bold;
    color: #333;
}

#menu-btn,
#close-btn,
#back-btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 21px;
}
#back-btn {
    left: 10px;
}
#close-btn > img {
    width: 14px;
}
#back-btn > img {
    height: 21px;
}
#menu-btn > img {
    height: 16px;
}

/* login */
#login {
    width: 100%;
    height: 100%;
    padding: 50px 0;
}
#login > h1 {
    font-size: 25px;
    margin: 21px 40px;
    line-height: 1.6;
}

.login-boxes {
    width: 100%;
    height: 340px;
    margin: 50px 0;
    position: relative;
}
.login-boxes > div {
    width: 260px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 15px;
}
.login-box-right {
    right: -5px;
    top: 0;
}
.login-box-left {
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}
.login-box-center {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.main-profile-img {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    background-color: #eee;
}
.main-profile-img > img {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-box-right > .main-profile-img > img {
    top: 43%;
    width: 80%;
}

.yellow {
    background: #FFFCEE;
}
.blue {
    background: #E3FDFF;
}
.pink {
    background: #FFF3F2;
}
.sub {
    text-align: right;
}
.sub > p {
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
}
.sub > h2 {
    font-size: 20px;
    font-weight: 600;
}
#login {
    background-color: #FCFDFF;
}
#login > h1 {
    line-height: 1.4;
}
#login > p {
    font-size: 12px;
    color: #9f9f9f;
    text-align: center;
    margin-top: 80px;
}
#login-btn {
    overflow: hidden;
    width: 282px;    
    height: 56px;
    border-radius: 45px;
    position: relative;
    background-color: #FEE500;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%);
}
#login-btn > img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* menu */
#menu {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#menu-back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    display: none;
}
.menu-main {
    background-color: #fff;
    width: 300px;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    display: none;
}
.menu-main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.menu-main > h2 {
    display: inline-block;
    padding-bottom: 4px;
    margin: 70px 30px;
    color: #318AF3;
    border-bottom: 2px solid #318AF3;
    font-size: 26px;
    font-weight: 500;
}
.menu-status {
    margin: 70px 30px 30px 30px;
    position: relative;
}
.menu-status > h2 {
    font-size: 26px;
    font-weight: 500;
    color: #333;
}
.menu-status > h2 > span {
    color: #318AF3;
}
.menu-status > button {
    background-color: #eceff4;
    color: 626262;
    padding: 6px 12px;
    border-radius: 7px;
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 12px;
}
.menu-btns {
    width: 240px;
    height: auto;
    margin: 0 auto;
}
.menu-btns > button {
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.menu-btns > button > img {
    margin-left: 4px;
}
#menu-nav {
    width: 245px;
    height: auto;
    margin: 30px auto;
}
#menu-nav > li {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 15px;
}
#menu-nav > li:last-child {
    border: none;
}
#menu-nav > li > img {
    width: 8px;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: #F7F8FB;
    padding: 30px;
}
#footer-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
#footer-menu > li {
    color: #626262;
    font-size: 14px;
    margin: 6px 0;
}
#footer-nav {
    margin: 12px 0;
    font-size: 12px;
    color: #626262;
}
#footer-nav > li {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
}
#footer-nav > li > span {
    color: #9f9f9f;
    margin-right: 12px;
    min-width: 25px;
}
#footer-nav > li > p {
    font-size: 12px;
}
.footer-btns {
    margin: 16px 0;
}
.footer-btns > button {
    padding: 4px 12px;
    color: #808080;
    margin-right: 4px;
    border-radius: 4px;
}
#footer-sns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}
#footer-sns > li {
    margin-right: 16px;
}
#footer-sns > li > img {
    height: 18px;
}
footer > p {
    color: #c9c9c9;
    font-size: 11px;
    margin-bottom: 20px;
    padding-top: 12px;
    border-top: 1px solid #ccc;
    text-align: center;
}

/* partners-main */
.partners-view {
    background-color: #FCFDFF;
    padding: 50px 30px;
}

.partners-view > h1 {
    margin: 30px 20px;
}

.profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.profile-img {
    width:  64px;
    height: 64px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-right: 21px;
}
.profile-img > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.profile-sub {
    width: 65%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.profile-sub > h3 {
    font-size: 18px;
    word-break: break-all;
}
.profile-point {
    margin: 12px 0;
}
.profile-point,
.profile-scope {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-point > img {
    width: 22px; 
    height: 22px;
    margin-right: 7px;
}
.profile-point > p {
    color: #656565;
    font-size: 12px;
}
.profile-point > p > span {
    color: #318AF3;
    font-size: 16px;
    margin-right: 4px;
    font-weight: 500;
}
.profile-scope-stars,
.amount-scope-stars,
.quality-scope-stars,
.kind-scope-stars {
    width: 90px;
    height: 15px;
    position: relative;
}
.profile-scope-stars > img,
.amount-scope-stars > img,
.quality-scope-stars > img,
.kind-scope-stars > img{
    height: 100%;
    width: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
}
img#first_star {left: 0;}
img#second_star {left:18px;}
img#third_star{left:36px;}
img#fourth_star{left:54px;}
img#fifth_star{left:72px;}

.profile-scope > p {
    color: #626262;
    font-size: 12px;
    margin-left: 7px;
}

.partners-btns {
    width: 100%;
    height: auto;
    background-color: #318AF3;
    padding: 50px 30px;
}
.partners-btns > button {
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 12px;
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.partners-btns > button > img {
    width: 12px;
    margin-right: 7px;
}
.partners-btns > button > p {
    font-weight: 500;
    position: relative;
}
.num-apper,
.new-apper {
    position: absolute;
    right: -7px;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.new-apper > span,
.num-apper > span {
    color: #fff;
    font-size: 6px;
    font-weight: 300;
}
.num-apper {
    background-color: #318AF3;
}
.new-apper {
    background-color: #FF5749;
}

/* request */
#request {
    width: 100%;
    height: 100%;
    padding: 70px 30px;
    background-color: #FCFDFF;
    padding-bottom: 150px;
    position: relative;
}
.request-agree {
    padding: 30px 0;
}
.request-agree > h2 {
    margin: 0 12px;
    margin-bottom: 7px;
}
.request-agree > .request-sub {
    color: #626262;
    font-size: 11px;
    margin: 0 12px;
    margin-bottom: 30px;
}
#all-agree-btn,
.all-agree-btn {
    width: 100%;
    height: 55px;
    background-color: #fff;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    padding: 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 27px;
}
#all-agree-btn.disagree,
.all-agree-btn.disagree {
    border-color:  #dce2eb;;
}
#all-agree-btn.agree,
.all-agree-btn.agree {
    border-color: #318AF3;
}
.all-agree-circle {
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin-right: 12px;
    background-position: center center;
    background-size: 55%;
    background-repeat: no-repeat;
}
.disagree > .all-agree-circle {
    border-color: #dce2eb;
    background-image: url("../img/check-no.png");
}
.agree > .all-agree-circle {
    border-color: #318AF3;
    background-image: url("../img/check-yes-blue.png");
}
.agree-labels {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 10px;
}
.agree-labels > label {
    display: inline-block;
    width: 21px;
    height: 7px;
    margin-right: 7px;
    background-position: center center;
    background-size: 12px;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
}
label {
    cursor: pointer;
}
.agree-labels > label.disagree {
    background-image: url("../img/check-no.png");
}
.agree-labels > label.agree {
    background-image: url("../img/check-yes-blue.png");
}
.agree-labels > span{
    color: #777;
}
.agree-labels > a {
    float: right;
}
.agree-labels > a > img {
    height: 14px;
}

#go-next-agree {
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    bottom: 0;
    background-color: #318AF3;
    padding: 14px;
    color: #fff;
}
#go-next-agree.disagree,
#go-next-estimate.disagree {
    background-color: #c9c9c9;
}
#go-next-agree.agree
#go-next-estimate.agree {
    background-color: #318AF3;
}

.agree-checkbox {
    display: none;
}

/* request-detail */
#request-detail {
    padding: 70px 20px;
    width: 100%;
    height: auto;
    position: relative;
}
#request-detail > h3 {
    font-size: 16px;
    margin-bottom: 30px;
}
.detail-main-list {
    list-style: square;
    padding-left: 20px;
    font-size: 12px;
}
.detail-main-list > li {
    margin-bottom: 21px;
}
.detail-main-list > li > ul {
    margin-top: 7px;
}
.detail-main-list > li > ul > li {
    color: #626262;
    font-size: 11px;
}

.detail-sub-list {
    list-style: disc;
    padding-left: 20px;
    margin-top: 30px;
}
.detail-sub-list > li {    
    color: #999;
    font-size: 10px;
    margin: 12px 0;
}

.detail-warning {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: auto;
    padding: 25px 20px;
    background-color: #F7F8FB;
}
.detail-warning > p {
    color: #626262;
    font-size: 12px;
    margin-bottom: 21px;
}
.detail-warning th {
    text-align: left;
    font-size: 11px;
    padding-right: 12px;
}
.detail-warning td {
    font-size: 11px;
    color: #626262;
}
#request #canvas {
    position: absolute;
    top: 70px;
    left: 0;
}

.request-btns {
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.request-btns > label {
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1.3px solid #dce2eb;
}
.request-btns > label.uncheck {
    border-color: #dce2eb;
}
.request-btns > label.uncheck > p {
    color: #333;
}
.request-btns > label.check {
    border-color: #318AF3;
}
.request-btns > label.check > p {
    color: #318AF3;
}
.request-btns > label > img {
    width: 14px;
    margin-right: 7px;
}
.request-btns > label > p {
    font-weight: 500;
}
.request-radio {
    display: none;
}


.request-input-btn {
    width: 100%;
    min-height: 60px;
    height: auto;
    border: 1.3px solid #dce2eb;
    border-radius: 7px;
    margin-bottom: 12px;
    padding: 15px;
}
.request-input-btn > h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: default;
}
.request-input-btn > .reqeust-hidden {
    width: 100%;
    height: auto;
}
.request-hidden {
    display: none;
}
.request-hidden > h3 {
    color: #9f9f9f;
    font-size: 11px;
    font-weight: 400;
}
.request-input-form {
    width: 100%;
    height: 35px;
    border-bottom: 1.3px solid #9f9f9f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}
.request-input-form > input {
    height: 100%;
    width: 79%;
    outline: none;
    background: none;
    border: none;
}
.request-input-form > button {
    height: 28px;
    border-radius: 7px;
    width: 20%;
    font-size: 10px;
    font-weight: 400;
    background-color: #f7f8fb;
    color: #626262;
}
.request-hidden > p {
    font-size: 8px;
    color: #626262;
    margin-bottom: 12px;
}
input[type=radio] {
    display: none;
}

.request-button-form {
    width: 100%;
    height: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.request-button-form > label {
    width: 47%;
    border: 1.3px solid #dce2eb;
    border-radius: 7px;
    padding: 7px;
    margin: 4px;
    text-align: center;
}
.request-button-form > label.uncheck {
    border-color: #dce2eb;
}
.request-button-form > label.check {
    border-color: #318AF3;
}
.request-button-form > label > img {
    width: 24px;
}
.request-button-form > label > p {
    font-size: 12px;
}
.request-button-form > label.uncheck >p {
    color: #626262;
    font-weight: 400;
}
.request-button-form > label.check > p {
    color: #318AF3;
    font-weight: bold;
}

.loading-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 21px;
}
.loading-form > img {
    width: 21px;
    margin-bottom: 7px;
}
.loading-form > p {
    color: #9f9f9f;
    text-align: center;
    font-size: 10px;
}
.result-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}
.result-form > .result-img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border: 1.5px solid #dce2eb;
    border-radius: 12px;
    position: relative;
}
.result-img > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.result-form > .result-sub {
    padding-top: 7px;
    margin-left: 14px;
    font-size: 10px;
    line-height: 1.7;
}
.result-sub > p {
    color: #9f9f9f;
}
.result-sub > p > span {
    color: #333;
    font-weight: 500;
    margin-left: 8px;
}

.request-hidden > .warning-txt {
    color: #FF5749;
    margin-top: -15px;
    margin-bottom: 21px;
    display: none;
}

.request-various-btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 36px;
}
.request-various-btns > label {
    width: 49%;
    height: 50px;
    border: 1px solid #dce2eb;
    border-radius: 7px;
    margin-bottom: 7px;
    font-size: 11.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.request-various-btns > label#hidden-form  {
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 14px;
    justify-content: flex-start;
}
.request-various-btns > label#hidden-form > .request-various-hidden {
    width: 100%;
    height: auto;
    margin-top: 14px;
}
.request-various-hidden > p {
    color: #9f9f9f;
    margin-bottom: 21px;
    font-weight: 300;
}
.request-various-hidden > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dce2eb;
}
.request-various-btns > label:last-child {
    width: 100%;
}
.request-various-btns > label.uncheck {
    border-color: #dce2eb;
    color: #333;
}
.request-various-btns > label.check {
    color: #318AF3;
    border-color: #318AF3;
    font-weight: bold;
}
.request-btns.phone-list > label {
    height: auto;
    justify-content: flex-start;
    padding: 12px;
}
.request-btns.phone-list > label > .phone-img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 1px solid #DCE2EB;
    border-radius: 7px;
    position: relative;
    margin-right: 21px;
}
.phone-img > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.request-colors {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
}
.request-colors > label {
    margin-right: 21px;
    text-align: center;
    border: none;
    padding: 0;
}
.request-colors > label > p {
    font-size: 13px;
}
.color-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.request-colors > label.check > .color-profile {
    border-color: #318AF3;
}
.color-profile > .color {
    width: 90%;
    height: 90%;
    border: 1px solid #dce2eb;
    border-radius: 50%;
}
.color.white {
    background-color: #fff;
}
.color.black {
    background-color: #000;
}
.color.red {
    background-color: #CA1010;
}
.request-agree > p {
    font-size: 13px;
    color: #626262;
    margin-bottom: 32px;
}
.request-agree > .user-color {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #dce2eb;
    outline: none;
}

.request-notes-form {
    margin-top: 52px;
    width: 100%;
    height: auto;
}
.request-notes-form > div {
    width: 100%;
    margin-bottom: 42px;
}
.request-notes-form > div > p {
    font-size: 12px;
    color: #626262;
    margin-bottom: 16px;
}
.request-notes-form > div > input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #DCE2EB;
    outline: none;
}
.request-notes-form > div > .request-note-btns {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.request-note-btns > label {
    flex: 1;
    border: 1px solid #DCE2EB;
    border-radius: 7px;
    margin: 2px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.request-note-btns > label.check {
    border-color: #318AF3;
    color: #318AF3;
}
.request-note-imgs {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.request-note-imgs > * {
    width: 105px;
    height: 105px;
}
.empty-img {
    background-color: #eceff4;
    border-radius: 7px;
    margin-right: 7px;
}
.request-note-imgs > label {
    border: none;
    padding: 0;
}
.request-note-imgs > label > img {
    width: 100%;
    height: 100%;
}
input#img {
    display: none;
}

/* request-success */
#request-success {
    width: 100%;
    height: auto;
    padding: 70px 0;
    position: relative;
}
.request-success-title {
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    border-bottom: 7px solid #f5f5f5;
    text-align: center;
}
.request-success-title > img {
    width: 65px;
    margin-bottom: 14px;
}
.request-success-title > h2 {
    color: #318AF3;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
}
.request-success-title > p {
    font-size: 12px;
    color: #9f9f9f;
}

.request-success-detail,
.request-success-info {
    padding: 30px 20px;
    border-bottom: 7px solid #f5f5f5;
}
.request-success-detail > div > h2,
.request-success-info > div > h2 {
    font-size: 15px;
    margin-bottom: 17px;
}
.request-success-detail > .detail-txt,
.request-success-detail > .detail-what,
.request-success-detail > .detail-none {
    margin-bottom:50px;
}
.detail-none {
    text-align: center;
}
.detail-what > div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
    font-size: 12px;
}
.request-success-detail > div > div > span,
.request-success-info > div > div > span {
    font-size: 11px;;
    color: #9f9f9f;
}
.request-success-detail > div > div > p,
.request-success-info > div > div > p {
    font-size: 12px;
    color: #333;
}
.request-success-detail > .detail-txt > div {
    display: block;
    margin-bottom: 21px;
}
.detail-txt > div > p {
    margin-top: 6px;
}
.dot-line {
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #dce2eb;
    margin: 36px auto;
}

/* estimate */
#estimate {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fcfdff;
}
.my-estimate-title {
    background-color: #318AF3;
    padding: 30px;
    position: relative;
}
.my-estimate-title > .close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
    font-size: 21px;
}
.close-btn > i {
    color: #fff;
}
.my-estimate-title > h2{
    color: #fff;
    margin: 50px 0;
}
.my-estimate-title > p {
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.my-estimate-title > p > img {
    width: 14px;
    margin-right: 7px;
}
.my-estimate-title > p > span {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 0 6px;
}
.estimate-list-form {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-top: 0;
}
.estimate-list-form-nav {
    width: 340px;
    display: flex;
    flex-direction: row;
    z-index: 999;
    background-color: #fbfcfe;
    padding: 16px 0 10px 0;
    position: relative;
}
.estimate-list-form-nav > div {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.estimate-list-form-nav > div > p {
    color: #9f9f9f;
    font-size: 18px;
}
.estimate-list-form-nav > div.check > p  {
    color: #333;
    font-weight: 600;
    margin-bottom: 3px;
}
.estimate-list-now {
    width: 5px;
    height: 5px;
    background: #318AF3;
    border-radius: 50%;
    display: none;
}
div.check > .estimate-list-now {
    display: block;
}
.estimate-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}
.estimate-list > div {
    margin: 16px 0;
}
.estimate-list > div > p {
    color: #626262;
    font-size: 11px;
    margin-bottom: 12px;
}
.estimate-list-btn {
    width: 100%;
    height: auto;
    padding: 32px 14px;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.estimate-list-btn > span {
    position: absolute;
    left: 14px;
    top: 10px;
    font-size: 10px;
    color: #c9c9c9;
}
.estimate-list-btn > .new {
    width: 25px;
    height: 25px;
    background-color: #FF5749;
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    font-size: 12px;
}
.estimate-list-status {
    position: absolute;
    right: 14px;
    bottom: 14px;
    font-size: 15px;
    font-weight: 600;
    color: #626262;
}
.estimate-list-status.proc {
    color: #318AF3;
}
.estimate-list-status.review {
    color: #318AF3;
    background-color: #EDF6FF;
    padding: 5px 9px;
    border-radius: 7px;
    font-size: 12px;
}
.estimate-list-btn > .estimate-list-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-right: 12px;
    border: 1.3px solid #dce2eb
}
.estimate-list-img > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.estimate-list-detail {
    width: 180px;
}
.estimate-list-detail > span,p {
    color: #626262;
    font-size: 10px;
}
.estimate-list-detail > h2 {
    font-size: 13px;
    margin-bottom: 2px;
}
.estimate-list-detail > h2 >  span {
    font-size: 10px;
    font-weight: 100;
    color: #808080;
    margin: 0 2px;
}

.estimate-my-request {
    padding: 70px 20px 120px 20px;
}
.estimate-my-request > h2 {
    margin-bottom: 8px;
    padding-left: 10px;
}
.estimate-my-request > span {
    color: #9f9f9f;
    font-size: 13px;
    padding-left: 10px;
}
.black-line {
    width: 100%;
    height: .5px;
    background-color: #9f9f9f;
}
.estimate-my-request > .estimate-cancle {
    padding: 4px 7px;
    background-color: #EDF6FF;
    color: #318AF3;
    border-radius: 7px;
    margin-left: 7px;
    font-weight: bold;
}
.estimate-my-request > div {
    padding: 14px 0;
}
.margin-no{
    margin: 0 !important;
}
.paddin-no {
    padding: 0 im !important;
}
.estimate-my-request > div > h2 {
    font-size: 18px;
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 9px;
}
.estimate-my-request > div > div {
    margin: 17px 0;
}
.estimate-my-request > div > div > span {
    font-size: 12px;
    color: #9f9f9f;
}
.estimate-my-request > div > div > p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-top: 3px;
    line-height: 1.8;
}
#go-next-estimate{
    width: 360px;
    height: auto;
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    padding-top: 12px;
    font-size: 14px;
    background-color: #318AF3;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#go-next-estimate > p {
    color: #fff;
    font-size: 14px;
}
#go-next-estimate > p > span  {
    color: #fff;
    font-size: 18px;
} 

.estimate-recived {
    background-color: #318AF3;
    padding: 70px 20px 210px 20px;
}
.estimate-recived #menu-btn >i {
    color: #fff;
}
.estimate-recived > h2 {
    color: #fff;
    margin: 21px 14px;
}
.estimate-recived-list {
    width: 100%;
    height: auto;
}

.estimate-recived-list > div {
    width: 100%;
    height: auto;
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 21px 0;
}
.recived-list-detail {
    border-bottom: 1px solid #dce2eb;
    margin-bottom: 7px;
}
.recived-list-detail > div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    position: relative;
}
.recived-list-detail > p {
    font-size: 12px;
    margin-bottom: 12px;
    color: #727272;
    word-break: break-all;
}
.recived-list-profile {
    width: 54px;
    height: 54px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    margin-right: 12px;
}
.recived-list-profile > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recived-list-profile-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recived-list-profile-detail > h2 {
    font-size: 14px;
    margin-bottom: 4px;
}
.recived-list-profile-detail > p {
    color: #9f9f9f;
    font-size: 12px;
    margin-bottom: 3px;
}
.recived-list-amount {
    position: relative;
    width: 100%;
    height: auto;
    height: 25px;
}
.recived-list-amount > .recived-reservation {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    font-weight: bold;
}
.recived-list-amount > p {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #9f9f9f;
    display: flex;
    align-items: center;
}
.recived-list-amount > p > span {
    color: #318AF3;
    font-weight: bold;
    font-size: 18px;
    margin-left: 7px;
}

.my-estimate-view {
    width: 100%;
    height: auto;
    padding: 100px 20px 0 20px;
}
.my-estimate-view > h2 {
    margin: 0 7px;
    margin-bottom: 20px;
}
.my-estimate-view > .profile > .profile-img {
    margin-right: 14px;
}
.profile-scope > span {
    font-size: 12px;
    color: #318AF3;
    font-weight: 500;
    margin-left: 7px;
}
.profile-sub > button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #626262;   
    background-color: #eceff4;
    padding: 5px 10px;
    border-radius: 9px;
    font-weight: 500;
}
#estimate .profile-sub {
    width: 75%;
}

.profile-scope-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 50px;
}
.profile-scope-fields > li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-scope-fields > li.line {
    background-color: #ddd;
    width: .5px;
}
.profile-scope-fields > li:last-child {
    border-right:  none;
}
.profile-scope-fields > li > p {
    font-size: 12px;
    margin-bottom: 7px;
}

.my-estimate-msg {
    width: 100%;
    height: auto;
    background: #F7F8FB;
    padding: 10px 20px;
}
.my-estimate-msg > div {
    width: 100%;
    display: flex;
    margin: 12px 0;
}
.my-estimate-msg > div > span {
    color: #9f9f9f;
    font-size: 12px;
    margin-right: 12px;
}
.my-estimate-msg > div > p {
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
 .estimate-imgs {
    width: auto;
    min-width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7px;
}
.estimate-imgs > div {
    height: 100%;
    width: 100px;
    overflow: hidden;
    margin-right: 8px;
    position: relative;
    border-radius: 7px;
}
.estimate-imgs > div > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.map-view {
    width: 100%;
    height: auto;
    padding: 70px 0 100px 0;
}
.map-view > img {
    width: 100%;
}

#inquire {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
}
#inquire::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.messenger-tab {
    width: 100%;
    height: auto;
    min-height: 95%;
    position: absolute;
    background-color: #fff;
    top: 5%;
    left: 0;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    overflow: hidden;
}
.messenger-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #318AF3;
    padding: 14px 20px;
    width: 100%;
}
.messenger-title > h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 12px;
}
.messenger-title > p {
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    line-height: 1.8;
}
#exit-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 30px;
}
#exit-btn > img {
    width: 100%;
    height: 100%;
}
.messenger-input-tab {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border-top: 1px solid #dce2eb;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 21px;
}
.messenger-input-tab > input {
    width: 90%;
    float: left;
    color: #626262;
    border: none;
    outline: none;
}
.messenger-input-tab > input::placeholder {
    color: #9f9f9f;
}
.messenger-input-tab > button {
    width: 30px;
    float: right;
}
.messenger-input-tab > button > img {
    width: 100%;
}

.messengers {
    width: 100%;
    height: auto;
    padding: 30px 20px 120px 50px;
    margin-top: 110px;
}
.messengers > div {
    margin-bottom: 32px;
}
.messengers > div > p {
    color: #9f9f9f;
    font-size: 10px;
    margin-bottom: 7px;
}
.m-partners > .bubble {
    width: 250px;
    height: auto;
    padding: 20px;
    background-color: #F7F8FB;
    border-radius: 16px;
}
.m-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bubble-txt {
    margin-bottom: 21px;
}
.m-user > .bubble {
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #318AF3;
    color: #fff;
    border-radius: 21px;
    border-top-right-radius: 5px;
}
.m-user > .bubble > p {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}
.m-user > .bubble > p > span {
    color: #fff;
    font-weight: bold;
}
.bubble-profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.bubble-profile-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    border: 1px solid #dce2eb;
    position: relative;
}
.bubble-profile-img > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bubble-profile > h2 {
    font-weight: 500;
    font-size: 14px;
    padding-top: 4px;
}
.bubble-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: unset;
}
.bubble > button,
.bubble-btns > button {
    background-color: #fff;
    border: 1.4px solid #dce2eb;
    border-radius: 7px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
} 
.bubble > button > p {
    color: #808080;
}
.bubble > button > img,
.bubble-btns > button > img {
    width:18px;
    margin-right: 7px;
    display: none;
}
.bubble > button.check,
.bubble-btns > button.check  {
    border-color: #318AF3;
}
.bubble > button.fail {
    border-color: #FF5749;
}
.bubble > button.check > img,
.bubble-btns > button.check > img,
.bubble > button.fail > img {
    display: block;
}
.bubble > button.check > p,
.bubble-btns > button.check > p {
    color: #318AF3;
}
.bubble > button.fail > p {
    color: #FF5749;
}
.bubble > button > p,
.bubble-btns > button > p {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubble > button > p > img {
    margin-left: 6px;
}
.bubble-btn-100 {
    width: 100%;
}
.bubble-btn-50 {
    width: 50%;
    margin-right: 4px;
}
.bubble-txt > p {
    color: #333;
    font-size: 14px;
    margin-bottom: 21px;
}
.bubble-txt > p > span {
    color: #9f9f9f;
    display: block;
    margin-top: 12px;
}
.bubble-txt > p > b {
    display: block;
    margin-bottom: 12px;
}
.messenger-calender {
    width: 100%;
    height: auto;
    padding: 80px 20px;
}
.messenger-calender > h2 {
    font-size: 18px;
    margin-bottom: 32px;
}
.calender-month {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.calender-month > button {
    width: 16px;
    height: 16px;
}
.calender-month > button > img {
    width: auto;
    height: 100%;
}
.calender-month > h2 {
    font-size: 18px;
}
table {
    width: 100%;
}
th {
    color: #9f9f9f;
}
th {
    padding: 10px;
}
td {
    padding: 7px;
}
td > p {
    padding: 5px;
}
td {
    text-align: center;
    cursor: pointer;
}

td > p {
    font-weight: 500;
    font-size: 14px;
    color: #333;
    border-radius: 50%;
}
td.check > p {
    background-color: #318AF3;
    color: #fff;
}

.messenger-time {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 150px;
}
.messenger-time > h2 {
    font-size: 18px;
    margin-bottom: 7px;
}
.messenger-time > p {
    color: #808080;
    font-size: 11px;
    margin-bottom: 21px;
}
.messenger-time-btns {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messenger-time-btns > label {
    width: 43px;
    height: 43px;
    border: 1.3px solid #C6CCD4;
    border-radius: 50%;
    margin: 0 1.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626262; 
    font-size: 12px;
    word-break: keep-all;
}
.messenger-time-btns > label.check {
    background-color: #318AF3;
    border-color: #318AF3;
    color: #fff;
}
.m-partner-user {
    width: auto;
    height: auto;
    display: flex;
}
.m-profile {
    margin-right: 12px;
    width:32px;
    height: 32px;
    overflow: hidden;
    border: 1px solid #dce2eb;
    border-radius: 50%;
    position: relative;
}
.m-profile > img {
    width: 105%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.m-partner-bubble {
    max-width: 80%;
}
.m-partner-bubble > p {
    color: #626262;
    margin-bottom: 6px;
}
.m-partner-bubble > .bubble {
    width: auto;
    height: auto;
    background: #DDEDFF;
    padding: 14px 16px;
    border-radius: 16px;
    border-top-left-radius: 3px;
}
.m-partner-bubble > .bubble > p {
    font-size: 13px;
}

.estimate-review {
    width: 100%;
    height: auto;
    padding: 90px 20px 120px 20px;
}
.estimate-review > h2 {
    font-size: 21px;
    float: left;
}
.estimate-review > select {
    float: right;
    background: none;
    border: none;

}
.estimate-review-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
}
.reviews {
    background: #FFFFFF;
    border: 1px solid #DCE2EB;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}
.review-profile {
    width: 100%;
    display: flex;
}
.review-profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 12px;
}
.review-profile-img > img {
    width: 105%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.review-profile > .profile-sub > button {
    background-color: #318AF3;
    color: #fff;
}
.reviews > ul > li > div > img.star {
    width: 15px;
    height: 15px;
}
.reviews > .profile-scope-fields {
    padding: 14px 0;
}
.reviews > p {
    margin: 12px 0;
}
.review-detail {
    width: 100%;
    background-color: #F7F8FB;
    padding: 12px;
    border-radius: 7px;
}
.review-detail > p {
    color: #9f9f9f;
    border-bottom : 1px solid #9f9f9f;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.review-detail > p > span {
    color: #9f9f9f;
    margin: 0 4px
}
.review-detail > h2 {
    color: #9f9f9f;
    font-size: 13px;
    font-weight: 400;
}
.review-detail > h2 > span {
    float: right;
    color: #333;
}

.estimate-review-write {
    width: 100%;
    height: auto;
    padding: 90px 35px 0 35px;
}

.estimate-review-write > h2 {
    font-size: 21px;
}

.estimate-review-form {
    width: 100%;
    height: auto;
}
.review-stars-form {
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.review-scope {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:12px 0;
}
.review-scope-stars {
    height: 24px;
    width: 180px;
    position: relative;
}
.review-scope-stars > img{
    height: 100%;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
}
.review-scope-stars >img#first_star {left: 0;}
.review-scope-stars >img#second_star {left:35px;}
.review-scope-stars >img#third_star{left:70px;}
.review-scope-stars >img#fourth_star{left:105px;}
.review-scope-stars >img#fifth_star{left:140px;}

.review-detail-form {
    width: 100%;
    height: auto;
    background-color: #f7f8fb;
    padding: 20px;
    padding-bottom: 150px;
}
.review-detail-form > div {
    border-bottom: 1px solid #dce2eb;
}
.review-detail-auto {
    width: 100%;
    height: auto;
}
.review-detail-auto > div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.review-detail-auto > div > span {
    color: #9f9f9f;
    font-size: 12px;
    flex: 2;
}
.review-detail-auto > div > p {
    flex: 8;
    color: #333;
    font-size: 12px;
}
.review-detail-amount {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    margin-bottom: 21px;
}
.review-detail-amount > span {
    color: #9f9f9f;
    font-size: 13px;
}
.review-detail-amount > p {
    color: #333;
    font-size: 13px;
}
.review-detail-form > textarea {
    resize: none;
    width: 100%;
    height: 200px;
    background: none;
    border: none;
    outline: none;
}

.alert-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.alert-msg {
    width: 280px;
    height: auto;
    background-color: #fff;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    padding-bottom: 80px;
    overflow: hidden;
    border: none;
}
.alert-msg > p {
    font-size: 14px;
    color: #000;
}
.alert-msg > button {
    width: 100%;
    height: 45px;
    background-color: #318AF3;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
}

.partners-estimate-list {
    width: 100%;
    height: auto;
    padding: 70px 0;
}
.partners-estimate-list > h2 {
    margin: 12px 30px;
}
.estimate-list-slight.proc{
    border: 1px solid #318AF3;
    color: #318AF3;
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    padding: 0 12px;
    border-radius: 7px;
    left: 20px;
}
.estimate-list-slight.done{
    border: 1px solid #dedede;
    color: #dedede;
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    padding: 0 12px;
    border-radius: 7px;
    left: 20px;
}
.estimate-list-btn > .estimate-list-recive {
    position: absolute;
    bottom: 15px;
    right: 100px;
}
.estimate-list-detail > p > span {
    margin: 0 4px;
    color: #dce2eb;
}
.estimate-list > div.done {
    opacity: .5;
}

.warning-none {
    text-align: center;
    margin: 50px auto;
}
.warning-none > p {
    color: #bbb;
}
.partners-estimate-list > .series-idx {
    margin: 12px 30px;
    font-size: 13px;
    color: #9f9f9f;
}
.partners-estimate-list > .request-success-detail > .detail-txt > h2 {
    border-bottom : 1px solid #dedede ;
    padding-bottom: 7px;
}
.partners-estimate-list > .request-success-detail {
    margin-bottom: 30px;
}

.partners-estimate-form {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.partners-estimate-form > .psf{
    width: 360px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #318AF3;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    padding: 30px 20px;
}
.psf {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
}
.psf::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.psf > .exit-btn {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 30px;
}
.exit-btn > img {
    width: 100%;
    height: auto;
}
.psf > h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 14px;
}
.psf > p {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 7px;
}
.estimate-form-number {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    padding: 10px 14px;
    align-items: flex-end;
}
.estimate-form-number > input {
    width: 93%;
    height: 100%;
    color: #000;
    text-align: right;
    font-size: 21px;
    margin-right: 4px;
    outline: none;
    border: none;
}
.estimate-form-number > input::placeholder {
    color: #9f9f9f;
}
.estimate-form-number > p {
    width: 3%;
    font-size: 15px;
    color: #9f9f9f;
}
.psf > table {
    margin: 14px auto;
}
.psf table td p {
    color: #fff;
    font-size: 21px;
}
.psf table img {
    width: 16px;
}
#partners-estimate-form-next {
    width: 100%;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
}
#partners-estimate-form-next.disagree {
    opacity: .3;
    cursor: default;
}
#partners-estimate-form-next-2 {
    width: 100%;
    height: 45px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
#partners-estimate-form-next-2.disagree {
    opacity: .3;
    cursor: default;
}

.psf-info {
    width: 100%;
    background-color: #eceff4;
    border-radius: 7px;
    padding: 14px 10px;
    display: flex;
    margin: 21px 0;
}
.psf-info > img {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}
.psf-info > p {
    width: 90%;
    word-break: break-all;
    color: #9f9f9f;
    font-size: 6px;
}
.psf > textarea {
    margin: 21px 0 100px 0;
    border: none;
    background: none;
    width: 100%;
    height: auto;
    max-height: 200px;
    border-bottom: 1px solid #fff;
    height: auto;
    word-break: break-all;
    text-align: left;
    font-weight: 200;
    color: #fff;
    outline: none;
    overflow: visible;
    padding-bottom: 12px;
}
.psf > textarea::placeholder {
    color: #fff;
    opacity: .3;
}
.psf-amount {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 21px 0;
}
.psf-amount > span {
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    opacity: .5;
}
.psf-amount > p {
    font-size: 18px;
    color: #fff;
}
.psf-msg {
    width: 100%;
    margin-bottom: 30px;
}
.psf-msg > span {
    display: block;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    margin-bottom:12px;
    opacity: .5;
}
.psf-msg > p {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
}
.psf-success {
    width: 100%;
    height: auto;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.psf-success > p {
    color: #fff;
    font-size: 18px;
    margin-top: 14px;
}

.send-list> div > .estimate-list-btn {
    padding-top: 12px;
}

.res-list> div > .estimate-list-btn {
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}
.res-list> div > .estimate-list-btn > .estimate-list-detail {
    width: 100%;
}
.res-detail {
    margin: 4px 0;
    font-size: 14px;
}
.estimate-list-detail > p >#res-status {
    float: right;
    color: #000;
    font-weight: 500;
}

.estimate-list-detail > p> #res-status.proc {
    color: #318AF3;
}

.estimate-list-detail > p > #res-days {
    float: right;
    padding: 4px 10px;
    color: #fff;
    border-radius: 21px;
    font-size: 8px;
    background-color: #318AF3;
    display: none;
}
.estimate-list-detail > p > #res-days.proc {
    display: block;
}
.res-msg {
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dedede;
    margin-top: 14px;
}
.res-msg > img {
    width: 12px;
    margin-right: 7px;
}
.res-msg > p {
    font-size: 14px;
    color: #333;
}
.res-list > div.cancle {
    opacity: .3;
}

.partners-estimate-list > h2 > #status {
    color: #fff;
    background-color: #333;
    font-size: 11px;
    font-weight: 100;
    border-radius: 21px;
    padding: 3px 7px;
    margin-left: 14px;
}
.partners-estimate-list > h2 > #status.proc {
    background-color: #318AF3;
}
.partners-estimate-list > h2 > #status.cancle {
    background-color: #9f9f9f;
}
.reservation-bts {
    width: 100%;
    height: 45px;
    margin: 30px 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.reservation-bts > button {
    height: 100%;
    padding: 0 38px;
    border: 1px solid #dce2eb;
    border-radius: 7px;
    color: #626262;
}
.reservation-bts > button > span {
    color: #318AF3;
}
.request-agree.go-cancle {
    padding: 0;
    margin-bottom: 80px;
}
.request-agree.go-charge > button,
.request-agree.go-cancle > button {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.request-agree.go-charge > button > p {
    font-size: 16px;
    color: #333;
}
.request-agree.go-cancle > button >p {
    font-size: 13px;
    padding-left: 7px;
}
.request-agree.go-charge > button > img {
    height: 14px;
}

.detail-what.confirm {
    border-top: 1px solid #dce2eb;
    padding: 21px 0;
}
.detail-what.confirm > div {
    margin: 18px 0;
}
.warning-point {
    color: #ff5749;
    font-size: 13px;
}
.why-txt {
    font-size: 14px;
}

.input-box {
    width: 100%;
    margin: 32px 0;
}
.input-box > p {
    font-size: 16px;
    color: #333;
    margin-bottom: 12px;
}
.input-box > p > span {
    font-size: 12px;
    color: #9f9f9f;
    margin-left: 7px;
}
.input-box > input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #dce2eb;
}
.logo-input input {
    display: none;
}
.logo-input > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-input > div > .logo-img {
    width: 105px;
    height: 105px;
    background-color: #eceff4;
    border-radius: 7px;
}
.logo-input > div > button,label {
    color: #626262;
    font-size: 14px;
    border: 1px solid #dce2eb;
    padding: 7px 18px;
    border-radius: 7px;
}
.input-form {
    padding: 70px 30px 150px 30px;
}
.input-form > div {
    margin-top: 20px;
    margin-bottom: 80px;
}

.input-form {
    padding: 70px 20px 150px 20px;
    position: relative;
}
.input-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-btns > button {
    color: #626262;
    border: 1px solid #dedede;
    border-radius: 7px;
    margin-bottom: 7px;
    padding: 10px;
}
.input-btns > button.check {
    border-color: #318AF3;
}
.input-btns > button.check >p {
    color: #318AF3;
}
.input-btns > button > p > img {
    width: 12px;
    margin-right: 4px;
}
.input-btn-50 {
    width: 49%;
}
.input-btn-30 {
    width: 32%;
}
.input-btn-100 {
    width: 100%;
}
.input-btn-100 > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dedede;
    font-size: 12px;
    color: #333;
    outline: none;
    margin-top: 24px;
}
.input-btn-100 >input::placeholder {
    font-size: 12px;
    color: #9f9f9f;
}
.input-box > p.input-small {
    font-size: 6px;
    color: #626262;
}
.input-box > p.input-medium {
    font-size: 10px;
    color: #444;
    margin-top: 32px;
}
.input-btn-100 > span {
    display: block;
    font-size: 6px;
    color: #626262;
    margin: 14px auto;
}
.input-day-btns {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 14px auto;
}
.input-day-btns > div {
    width: 35px;
    height: 100%;
    color: #626262;
    border: 1px solid #dedede;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.input-day-btns > div.check {
    background-color: #318AF3;
    border-color: #318AF3;
    color: #fff;
}
.input-btn-100 > .input-day-btn {
    background-color: #318AF3;
    width: 140px;
    padding: 7px;
    margin: 14px auto;
    color: #fff;
    border-radius: 21px;
}
.input-inputs {
    width: 100%;
    height: auto;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.input-inputs > div {
    width: 45%;
}
.input-inputs > span {
    color: #9f9f9f;
    margin-top: 20px;
}
.input-inputs > div > p {
    font-size: 10px;
    color: #9f9f9f;
    margin-bottom: 7px;
}
.input-inputs > div  > input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #dce2eb;
    outline: none;
}
.logo-input.img > div {
    justify-content: flex-start;
}
input[type=file] {
    display: none;
}
.logo-input.img > div  > label {
    border: none;
    width: 105px;
    height: 105px;
    padding: 0;
    margin-left: 7px;
}

.logo-input.img > div >  label  > img {
    width: 100%;
}

.my-page-modify {
    width: 360px;
    height: auto;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #fff;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    padding: 20px;
}
.my-page-modify > .exit-btn {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-btn > img {
    width: 100%;
}
.my-page-modify > h2 {
    font-size: 16px;
    
}
.time-table {
    width: 100%;
    margin: 32px 0;
}
.time-table tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.time-table td {
    font-size: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #dce2eb;
    margin: 7px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626262;
}
.time-table td.check {
    color: #fff;
    border-color: #318AF3;
    background-color: #318AF3;
}
#modify-confirm {
    width: 100%;
    height: 52px;
    color: #fff;
    background-color: #c9c9c9;
    border-radius: 7px;
}
#modify-confirm.check {
    background-color: #318AF3;
}
input.outline {
    border: 1.5px solid #000 !important;
}
@media screen and (min-width:600px) {
    #wrap {
        width: 360px;
    }
}